%h1 The following movies containing "#{@search_terms}" were found on TMDb

= form_tag movies_add_from_tmdb_path, :method => :post, :id => "add_form" do
  %table#movies
    %thead
      %tr
        %th Movie Title
        %th Rating
        %th Release Date
        %th Select
    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie[:title]
          %td= movie[:rating]
          %td= movie[:release_date]
          %td= check_box_tag "to_add[#{movie[:tmdb_id]}]", nil, nil, :id => "checkbox_#{movie[:tmdb_id]}"
  = submit_tag "Add selected movies", :id => "add_button"
    
%br
= link_to "Return to Movie List", movies_path
        